ul.erl-proplist {
    list-style-type: none;
}
ul.erl-proplist:before {
    content: "[";
}
ul.erl-proplist:after {
    content: "].";
}
li.erl-proplist {
    padding-left: 10px;
}
li.erl-proplist:after {
    content: ",";
}
li.erl-proplist:last-child:after {
    content: "";
}

ul.erl-tuple {
    list-style-type: none;
    list-style-position: inside;
    display: inline;
    margin: 0;
    padding: 0;
}
ul.erl-tuple:before {
    content: "{";
}
ul.erl-tuple:after {
    content: "},";
}
ul.erl-tuple:last-child:after {
    content: "}";
}
li.erl-tuple {
    display: inline;
}
li.erl-tuple:after {
    content: ",";
}
li.erl-tuple:last-child:after {
    content: "";
}

ul.erl-binary {
    line-height: 3.0;
    border: 1px solid #000000;
    list-style-type: none;
    display: inline;
    padding: 10px 10px 10px 0px;
}
li.erl-binary {
    border-left: 0px;
    padding: 10px 10px 10px 10px;
}
li.erl-binary:last-child {
    border-right: 0px;
}
