<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
        <link rel="stylesheet" href="/css/markdown.css" type="text/css" />
        <link rel="stylesheet" href="/css/pseudocode.css" type="text/css" />

        <script src="/js/underscore-min.js"></script>
        <script src="/js/raphael-min.js"></script>
        <script src="/js/sequence-diagram-min.js"></script>
        <script src="/js/fun.js"></script>
    </head>

    <body>
        <div class="module">
            {{content}}
        </div>
    </body>
</html>
